Choose a location where you keep projects.
mkdir ai-recruitment-platform
cd ai-recruitment-platform

Initialize Git.
git init

Create our first directories.
mkdir backend
mkdir frontend


Create the Python virtual environment
cd backend

Create a virtual environment.
python -m venv venv

Activate it.
.\venv\Scripts\Activate.ps1

git bash
source venv/Scripts/activate


Install our first backend packages
pip install fastapi uvicorn

Run your backend server
uvicorn app.main:app --reload

Modify main.py.

backend/

│
├── app/
│
│   ├── main.py
│
│   ├── routers/
│   │      jobs.py
│   │
│   ├── schemas/
│   │      job.py
│   │
│   ├── services/
│   │      job_service.py
│   │
│   └── database/
│          database.py
│
├── requirements.txt
└── venv/

Install Database Packages
-->pip install sqlalchemy psycopg2-binary
-->pip install python-dotenv
-->pip freeze > requirements.txt


Install it:
pip install pymupdf
pip freeze > requirements.txt

pip install sentence-transformers
pip install scikit-learn